#countlabel{
    display: block;
    text-align:center;
    font-family: verdana;
    font-size: 7em;
}
#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5m;
    color: azure;
    background-color: hsl(263, 58%, 27%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.buttons.hover{
    background-color: hsl(240, 100%, 50%)
}